p {
    color: white;
    font-size: 1.25rem;
}

.red {
    display: block;
    width: 200px;
    height: 200px;
    background-color: red;
}

.green {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: green;
}

.blue {
    display: inline;
    width: 200px;
    height: 200px;
    background-color: blue;
}